

<div class="forgetPassword">


    <form (ngSubmit)="forgetPasswordSubmit(forgetPassword)" class="py-5" [formGroup]="forgetPassword">

        <label for="email">Enter Email :</label>
        <input formControlName="email" type="email" name="email" class="form-control" id="email">
    
    
    
         <div *ngIf="forgetPassword.get('email')?.errors && forgetPassword.get('email')?.touched"
            class="alert alert-danger">
            <p *ngIf="forgetPassword.get('email')?.errors?.['required']">Email Required</p>
            <p *ngIf="forgetPassword.get('email')?.errors?.['email']">Email Not Valid</p>
        </div> 
    
    
    <button [disabled]="!forgetPassword.valid" class="btn btn-success my-2"> Send Email</button>
    
    </form>
      
</div>


<div class="resetCode my-5 d-none">
   
<div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>

    <form   (ngSubmit)="ResetCodeSubmit(resetCode)" [formGroup]="resetCode">
       
        <label for="resetCode"> Reset Code :</label>
        <input formControlName="resetCode" type="text" class="form-control" id="resetCode">

        <div *ngIf="resetCode.get('resetCode')?.errors && resetCode.get('resetCode')?.touched" class="alert alert-danger">
        <p *ngIf="resetCode.get('resetCode')?.errors?.['required']">resetCode Required</p>
        <p *ngIf="resetCode.get('resetCode')?.errors?.['pattern']">resetCode Not Valid</p>
        </div>

     <button [disabled]="!forgetPassword.valid" class="btn btn-success my-3"> Verify Code </button>
   
    </form>
</div>