





  <div class="row g-0 mt-5 w-50 m-auto">
    <div class="col-md-6">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>  
                      <img src="assets/images/images/1.jpg" class="w-100 big" alt="">
            </ng-template>  

            <ng-template carouselSlide>  
                <img src="assets/images/images/2.jpg" class="w-100 big" alt="">
      </ng-template>  

      <ng-template carouselSlide>  
        <img src="assets/images/images/3.jpg" class="w-100 small" alt="">
</ng-template>  

          </owl-carousel-o>
        
    </div>

    <div class="col-md-6">
        <img src="assets/images/images/4.jpg" class="w-100 small" alt="">
        <img src="assets/images/images/5.jpg" class="w-100 small" alt="">

    </div>
  </div>