<div class="bg-light p-5 mt-4 container">
  <h3>My Wish List</h3>
  
  
  <div *ngFor="let product of productList" class="row border-bottom border-4 justify-content-between align-items-center">
   
    <div class="col-md-6">
    
        <div class="row align-items-center my-3">
       
            <div class="col-md-3">
          <img [src]="product.imageCover" class="w-100" alt="" />
           </div>
           
           <div class="col-md-9">
          <h5>{{ product.category.name }}</h5>
          <p class="text-main">{{ product.price }} EGP</p>
          
          <button (click)="deleteFavList(product._id)"class="btn btn-outline-danger">

            <i class="fa-solid fa-trash-can"> </i>
            Remove
          
        </button>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <button (click)="addCart(product._id)" class="btn btn-success">
        Add to cart
      </button>
    </div>
  </div>
</div>
