<div class="py-5">
    <h3>Reset Password:</h3>


    <div *ngIf="errorMessage" class="alert alert-danger"> {{errorMessage}} </div>
    <form (ngSubmit)="submitReset(resetForm)" [formGroup]="resetForm">

      
        <div class="my-2">
            <label for="email">email</label>
            <input formControlName="email" type="email" name="email" class="form-control" id="email">

            <div *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched"
                class="alert alert-danger">

                <p *ngIf="resetForm.get('email')?.errors?.['required']">Email Required</p>
                <p *ngIf="resetForm.get('email')?.errors?.['email']">Email Not Valid</p>
            </div>


        </div>

      
        <div class="my-2">
            <label for="newPassword">newPassword</label>
            <input formControlName="newPassword" type="password" name="newPassword" class="form-control" id="newPassword">

            <div *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched"
                class="alert alert-danger">
                <p *ngIf="resetForm.get('newnewPassword')?.errors?.['required']">newPassword Required</p>
                <p *ngIf="resetForm.get('newnewPassword')?.errors?.['pattern']">newPassword Not Valid</p>
            </div>
        </div>



        <button *ngIf="!loading" [disabled]="!resetForm.valid" type="submit"class="btn btn-success d-block ms-auto">
            new Password
        </button>

        <button *ngIf="loading" type="button" class="btn btn-success d-block ms-auto">
            <i class="fa-solid fa-spinner fa-spin"></i>
        </button>
    </form>
</div>